@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

body {
  background: #02202e;
}


/************* CURSOR ***************/


svg #spintext {
  position: absolute;
  fill: #ffffff;
  transform-origin: center;
  fill-opacity: 0;
  width: 100px;
  height: 100px;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#spintext text {
  fill-opacity: 0;
  transition: 0.2s cubic-bezier(.21,.78,.33,.9) fill-opacity;
}

#spintext.active text {
  fill-opacity: 0.8;
}

#spintext {
    -webkit-animation-name: spin2;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin2;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin2;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin2;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin2 {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin2 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

#cursor {
  position: absolute;
  background-color: rgba(255,255,255,0);
  border: 2px solid rgba(255,255,255,0);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transition: 
    0.5s cubic-bezier(.21,.78,.33,.9) transform, 
    0.5s cubic-bezier(.21,.78,.33,.9) background-color,
    0.2s cubic-bezier(.21,.78,.33,.9) opacity,
    0.1s cubic-bezier(.21,.78,.33,.9) border;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
#cursor.active {
    background-color: rgba(255,255,255,0);
    border: 2px solid rgba(255,255,255,0);
}

#aura {
  position: absolute;
  border: 2px solid rgba(255,255,255,1);
  background-color: rgba(255,255,255,0);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transition: 
    0.5s cubic-bezier(.21,.78,.33,.9) transform, 
    0.5s cubic-bezier(.21,.78,.33,.9) background-color,
    0.2s cubic-bezier(.21,.78,.33,.9) opacity,
    0.1s cubic-bezier(.21,.78,.33,.9) border;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
  transform: scale(0.8);
}
#aura.active {
  border: 1px solid rgba(255,255,255,.2);
  transform: scale(2);
  background-color: rgba(255,255,255,.1);
  -webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
}

.hidden {
  opacity: 0;
}



/************* BF STICKY HEADER ***************/



.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(to left, #6f0eff, #006cff, #1292d4, #6f0eff);
  background-size: 400% 400%;
  padding: 20px 10px 20px 10px;
}

.gradient-anim {
    animation: gradientTop 8s linear infinite;
    -webkit-animation-name: gradientTop;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-name: gradientTop;
    -ms-animation-duration: 8s;
    -ms-animation-iteration-count:infinite;
    -moz-animation-name: gradientTop;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count:infinite;
    -o-animation-name: gradientTop;
    -o-animation-duration: 8s;
    -o-animation-iteration-count:infinite;
}

@keyframes gradientTop {
  0% {background-position: 0 50%;}
  100% {background-position: 400% 200%;}
}
@-webkit-keyframes gradientTop {
  0% {-webkit-background-position: 0 50%;}
  100% {-webkit-background-position: 400% 200%;}
}
@-o-keyframes gradientTop {
  0% {-o-background-position: 0 50%;}
  100% {-o-background-position: 400% 200%;}
}
@-ms-keyframes gradientTop {
  0% {-ms-background-position: 0 50%;}
  100% {-ms-background-position: 400% 200%;}
}
@-moz-keyframes gradientTop {
  0% {-moz-background-position: 0 50%;}
  100% {-moz-background-position: 400% 200%;}
}


.bf-text {
  text-align: center;
  font-family: "Circe";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.365em;
  color: #ffffff;
}



/******************************************/
/************* PRODUCT CARD ***************/
/******************************************/



.card {
  display: block;
  border: 1px transparent;
  border-radius: 5px;
}

.card:hover:after {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
  filter: blur(35px);
  -webkit-filter: blur(35px);
 /** filter: url(blur35.svg#blur); **/
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='35');
  opacity: 1;
}

.card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  filter: blur(15px);
  -webkit-filter: blur(15px);
/** filter: url(blur15.svg#blur); **/
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3, #4e00c2);
  opacity: 0.8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
     animation: spin 2.5s linear infinite;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-name: spin;
    -ms-animation-duration: 2.5s;
    -ms-animation-iteration-count:infinite;
    -moz-animation-name: spin;
    -moz-animation-duration: 2.5s;
    -moz-animation-iteration-count:infinite;
    -o-animation-name: spin;
    -o-animation-duration: 2.5s;
    -o-animation-iteration-count:infinite;
}

@keyframes spin {
  0% {--rotate: 0deg;}
  100% {--rotate: 360deg;}
}
@-webkit-keyframes spin {
  0% {--rotate: 0deg;}
  100% {--rotate: 360deg;}
}
@-o-keyframes spin {
  0% {--rotate: 0deg;}
  100% {--rotate: 360deg;}
}
@-ms-keyframes spin {
  0% {--rotate: 0deg;}
  100% {--rotate: 360deg;}
}
@-moz-keyframes spin {
  0% {--rotate: 0deg;}
  100% {--rotate: 360deg;}
}


/*****************************************/
/********** PARTICLES CONTAINER **********/ 
/*****************************************/


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:1;
  pointer-events:none;
}
